<br><br>
<div class="row">
    <div class="col-md-12">
        <section class="my-5">
            <form [formGroup]="addArtisForm" (ngSubmit)="upload()">
                <div class="form-group">
                    <label for="kode">ID Artis :</label>
                    <input type="text" class="form-control" id="id" formControlName="idArtis" placeholder="ID">
                    <span *ngIf="!addArtisForm.get('idArtis').valid && addArtisForm.get('idArtis').touched" class="help-block">
                    ID Wajib Diisi
                    </span>
                </div>
                <div class="form-group">
                    <label for="nama">Nama Artis :</label>
                    <input type="text" class="form-control" id="nama" formControlName="namaArtis" placeholder="nama">
                    <span
                        *ngIf="!addArtisForm.get('namaArtis').valid && addArtisForm.get('namaArtis').touched" class="help-block">
                    Nama Wajib Diisi
                    </span>
                </div>
                <div class="form-group">
                    <label for="nama">URL Website :</label>
                    <input type="text" class="form-control" id="nama" formControlName="urlWebsite" placeholder="nama">
                    
                </div>
                <div class="form-group">
                    <label for="nama">Keterangan :</label>
                    <input type="text" class="form-control" id="nama" formControlName="keterangan" placeholder="nama">
                    
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <input type="file" (change)="selectFile($event)" formControlName="foto">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </section>
    </div>
</div>