<section class="jumbotron text-center">
  <div class="container">
    <h1>Daftar Artis</h1>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
        
      <div class="col-md-4" *ngFor="let lab of listLables" >
        <div class="card mb-4 shadow-sm">
          <img src="assets/label.jpg" alt="" height="200px">
          <div class="card-body">
            <b class="card-text">{{lab.namaLabels}}</b><br>
            <br>
            <!-- <p>Artist: {{ar.namaArtis}}</p> -->
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button (click)="deleteLables(lab.idLabel)" class="btn btn-sm btn-outline-secondary">Delete</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

